@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@model IEnumerable<BarCejas.Entities.Categoria>

<table id="example" class="table" style="width:100%">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Editar</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td><a class="btn btn-cir" asp-controller="GestorCategory" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-light fa-pen"></i></a></td>
                <td>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" @((bool)item.EsActivo ? "checked" : string.Empty) onclick="ChangeStatus(@item.Id, '@(!(bool)item.EsActivo)')" id="gca_@item.Id" class="custom-control-input">
                        <label class="custom-control-label" for="gca_@item.Id" data-original-title="@((bool)item.EsActivo ? "Activo" : "Inactivo")"></label>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>