@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@model IEnumerable<BarCejas.Entities.Categoria>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = ViewBag.Title;
}

<section class="single-page-header">
    <diV class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <ol class="breadcrumb  header-bradcrumb header-bradcrumb-site">
                    <li class="btn-trans"><a style="color: #000!important;" href="javascript:history.back()"><i class="fas fa-solid fa-angle-left"></i></a></li>
                    <li class="spa-bag"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="spa-bag">-</li>
                    <li class="active spa-bag">Todos los servicios</li>
                </ol>
            </div>
        </div>
    </diV>


</section>


<!-- Start Services Section
    ==================================== -->
<!-- Start Team Skills
    =========================================== -->

<section class="team-skills section-sm" id="skills">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12">
                <div class="title text-center">
                    <h2>Servicios</h2>
                </div>
            </div>
            <!-- /section title -->
            <div class="col-md-12">
                <div class="team-skills-content">
                    <p>Somos especialistas en Diseño de cejas y Microblading, microshading, combinando diversas técnicas para que tengas el resultado perfecto, logrando frescura y calidez en la mirada. Brindamos asesoramiento personalizado sobre todas nuestros servicios ,diagnosticando cada tipo de cejas busacando el mejor resultado, y ademas asi tener un seguimiento de cada clienta.</p>
                </div>
            </div>
        </div> <!-- End row -->
    </div>
</section> <!-- End section -->

@{
    if (Model is null || Model.Count() == 0)
    {
        <div class="col-md-12">
            <div class="team-skills-content text-center">
                <p>No existen servicios disponibles.</p>
            </div>
        </div>
    }
    else
    {
        foreach (var categorie in Model)
        {
            <section class="services row-section" id="services">
                <div class="container" style="padding-right: 0px!important;">
                    <div class="row no-gutters">
                        <!-- section title -->
                        <div class="col-12">
                            <div class="title">
                                <h5 style="font-weight: normal!important;">@categorie.Nombre</h5>
                            </div>
                        </div>
                        <!-- /section title -->

                        <div class="col-md-12 col-sm-12 row-block">
                            <div class="popular_courses">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12" style="padding-right: 0px;">
                                        <div class="owl-carousel owl-theme " style="width: 100%;">
                                            @foreach (var service in categorie.Servicio)
                                            {
                                                <div class="item" style="width: 360px;">
                                                    <div class="single_course">
                                                        <div class="course_head course_head_service">
                                                            @*<img class="img-fluid" src="@Url.Content($"/{service.RutaImagenTarjeta}")" alt="" />*@
                                                            @{
                                                                if (service.RutaImagenTarjeta != null && !(service.RutaImagenTarjeta.Contains("images/")))
                                                                {
                                                                    service.RutaImagenTarjeta = null;
                                                                }
                                                            }
                                                            <img class="img-fluid course_img_center" src="@(!String.IsNullOrEmpty(service.RutaImagenTarjeta) ?  Url.Content(service.RutaImagenTarjeta):Url.Content("~/images/sinImagen.png"))" asp-append-version="true" alt="" />
                                                        </div>

                                                        <div class="title_course">
                                                            <span class="tag">@service.Duracion min</span>
                                                        </div>
                                                        <div class="course_content" style="height: 143px;">
                                                            <span class="price">$@service.PrecioPromocioal</span>

                                                            <h4 class="mb-3">
                                                                <a asp-controller="Services" asp-action="Service" asp-route-id="@service.Id">@service.Nombre</a>
                                                            </h4>
                                                            <p class="text-troncate">
                                                                @service.DescripcionCorta
                                                            </p>

                                                        </div>
                                                        <div class="course_meta justify-content-lg-between align-items-lg-center flex-lg-row flex-column " style="background-color: #fadce6;">
                                                            <div class="row-section pt-4 pb-4">
                                                                <div class="col-md-12">
                                                                    <span class="float-right" style="color: #000;">  $@service.PrecioPromocioal</span>
                                                                    <span class="float-right" style="color: #958389;text-decoration:line-through;">$@service.PrecioLista</span>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <a asp-controller="Services" asp-action="Service" asp-route-id="@service.Id" class="btn btn-main mt-20 btn-block">RESERVAR TURNO</a>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End row -->
                </div> <!-- End container -->
            </section> <!-- End section -->
        }
    }
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            jQuery('#navbarDropdownUser').click(function (e) {
                jQuery('#sidenav').slideToggle('fast');
                e.stopPropagation();
            });
            $(document).click(function (e) {
                var $info = $('#sidenav');
                if (!$info.is(e.target) && $info.has(e.target).length === 0 && e.target.id != 'dropdown-btn') {
                    $("#sidenav").hide();
                }
            });


            //* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;

            for (i = 0; i < dropdown.length; i++) {
                dropdown[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var dropdownContent = this.nextElementSibling;
                    if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none";
                    } else {
                        dropdownContent.style.display = "block";
                    }
                });
            }

        });

        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 20,
            items: 3,
            nav: true,
            autoplaySpeed: false,
            startPosition: 1,
            autoplay: 2500,
            smartSpeed: 1500,
            dots: false,
            responsiveClass: true,
            thumbs: true,
            thumbsPrerendered: true,
            navText: ["<img src='@Url.Content("~/images/prev.png")'>", "<img src='@Url.Content("~/images/next.png")'>"],
            responsive: {
                0: {
                    items: 1,
                    margin: 0
                },
                991: {
                    items: 2,
                    margin: 5
                },
                1200: {
                    items: 3,
                    margin: 5
                }
            }
        })
    </script>
}